body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  scrollbar-width: none;
}

.main-content {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url('/images/dudley_overlay.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden !important;

}

html::-webkit-scrollbar {
  display: none;
}


.header {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  /* background-color: rgba(180, 180, 180, 0.6); */
  /*rgba(118, 152, 255, 0.6);*/
  height: 48px;
  outline: 3px solid rgb(0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.disable-scroll {
  overflow: hidden;
}

.stl-preview {
  border: 2px solid black;
  border-radius: 5px;
  padding-top: 5px;
  margin: auto;
}

.stl-previews {
  width: 90%;
  border-radius: 5px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  column-gap: 20px;
  padding-bottom: 15px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.arrow-btn {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-size: 25px;
  padding-right: 7px;
  padding-left: 7px;
  position: relative;
}


.arrow-btn:hover {
  cursor: pointer;
  opacity: 0.85;
}

.print-card {
  flex: 0 0 auto;
  width: 300px;
  color: black;
  /* min-width:300px; */
  transition: 0.1s scale ease-in-out;
}

.print-card:hover {
  scale: 1.02;
}

.hidden {
  display: none;
}

.preview-title {
  background-color: transparent;
}


.menuBG {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  height: 100%;
  top: 0px;
}

.menuBG.hidden {
  pointer-events: none;
}

.menuBG.visible {
  opacity: 1;
}

#filamentType {
  font-size: medium;
}


.image-4-3 {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 5px;

}

.print-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* scale to fill, cropping as needed */
  object-position: center;
  display: block;
  /* remove inline spacing */
}

.printForm {
  margin: 30px 5px 0px 5px;
  min-width: 470px;
  flex-direction: column;
  position: relative;
  background-color: rgb(245, 245, 250);
  font-size: x-large;
  padding: 10px 30px 10px;
  border-radius: 5px;
  outline: 2px solid black;
  display: inline-flex;
  justify-content: center;
}

.subText {
  color:gray;
  font-size: 18px;
}

.panel-header {
  position: absolute;
  top: -30px;
  left: 40px;
  font-weight: bold;
}


.err-msg,
.msg-msg,
.warn-msg {
  transition: top 0.3s ease-in-out;
  position: fixed;
  right: 5px;

  border-radius: 5px;
  border: 4px solid black;
  font-size: x-large;
  color: black;
  font-weight: bold;
  padding: 10px 40px 10px 10px;
  user-select: none;
}

.msg-exit {
  position: absolute;
  transform: scale(0.3);
  transform-origin: center;
  height: 100px;
  width: 100px;
  top: -29px;
  right: -29px;
  transition: scale 0.2s ease;
}

.msg-exit:hover {
  scale: 1.1;
  cursor: pointer;
}

.err-msg {
  background-color: rgba(247, 169, 169, 0.95);
}

.msg-msg {
  background-color: #dffbdef2;
}

.warn-msg {
  background-color: rgba(249, 249, 190, 0.95);

}

.warning-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* printer menu states: null, available, busy, or broken */
.null {
  padding: 15px;
  font-weight: bold;
  font-size: x-large;
  /* background-color: rgba(255, 255, 200, 0.7); */
  background-color: rgba(210, 224, 255, 0.7);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  outline: 2px solid black;
  width: fit-content;
  display: flex;
  margin: 10px auto 20px auto;
}

.printer-header-wrapper {
  height: 42px;
  position: fixed;
  top: 51px;
}

.printer-header {
  margin: auto;
  background-color: silver;
  height: 35px;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
  outline: 3px solid black;
  overflow: hidden;
  white-space: nowrap;
}

.job-notes {
  min-width: 300px;
  max-width: 600px;
  width: 75%;
  height: 60px;
  max-height: 200px;
  font-size: large;
}

.stat-msg,
.filament-msg {
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 5px;
  outline: 2px solid black;
}

.notes-msg {
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  outline: 2px solid black;
  margin-top: 20px;
  background-color: rgb(245, 245, 245);
  width: 52%;
  min-width: 470px;
  margin: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.printer-notes-wrapper {
  width: 75%;
  max-width: 600px;
  min-width: 350px;
  text-align: left;
  margin: auto;
  padding: 5px;
  margin-top: 5px;
}

#printerNotesInput {
  width: 500px;
  height: 80px;
  font-size: medium;
  font-family: Arial, sans-serif;
  max-width: 95%;
  max-height: 200px;
}

select,
option {
  cursor: pointer;
}

.history-row {
  transition: background-color 0.2s ease;
}

.queued {
  background-color: rgb(250, 250, 250);
}

.queued:hover {
  background-color: rgb(255, 255, 255);
}

.active {
  background-color: rgb(255, 255, 240);
}

.active:hover {
  background-color: rgb(255, 255, 245);
}

.completed {
  background-color: rgb(250, 250, 250);
}

.completed:hover {
  background-color: rgb(255, 255, 255);
}

.failed {
  background-color: rgb(255, 245, 245);
}

.failed:hover {
  background-color: rgb(255, 250, 250);
}

.history-edit {
  width: calc(100% - 8px);
  font-size: large;
  margin: 0px;
  padding: 0px;
}

#resizer {
  position: fixed;
  top: 0px;
  width: 5px;
  height: 100vh;
  background: black;
  cursor: ew-resize;
}

#resizer-btn {
  width: 12px;
  height: 40px;
  background-color: lightgray;
  position: fixed;
  top: calc(50% - 20px);
  cursor: pointer;
  border-radius: 5px;
  outline: 1px solid black;
  transition: background-color 0.1s ease;
}

#resizer-btn:hover {
  background-color: rgb(180, 243, 180);
}

.stat-msg {
  width: 52%;
  min-width: 470px;
  margin: auto;
  padding: 10px;
  box-shadow: 0 0 3px 2px rgb(50, 50, 50);
}

.stat-msg b {
  display: inline;
}

.info {
  display: flow-root;
  text-align: left;
  align-items: flex-start;
  overflow-x: hidden;
  max-height: 210px;
  overflow-y: scroll;
}

.info>div {
  padding-left: 5px;

}

.stat-msg hr {
  border-top: 1px solid #00000005;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
}

.filament-msg {
  background-color: #d2e0ff;
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
}

.printer-btn {
  font-size: x-large;
  border-radius: 5px;
  padding: 5px;
  /* outline: 1px solid black; */
  margin-right: 10px;
  margin-top: 10px;
  display: inline-flex;
  user-select: none;
  padding-left: 10px;
  padding-right: 15px;
  background-color: silver;
  transition: opacity 0.15s ease;
  opacity: 80%;
  white-space:nowrap !important;
}

.printer-btn.select {
  background: rgb(159, 188, 254, 0.8) url('/images/move.svg') no-repeat left 8px center;
  background-size: 25px 25px;
  padding-left: 40px;
  padding-bottom: 4px;
  padding-top: 9px;
}

.history-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  cursor: pointer;
}

.status-icon {
  width: 24px;
  height: 24px;
  padding-right: 5px;
  align-items: center;
  padding-top: 2px;
}

.printer-btn:hover,
.menu-btn:hover,
.printer-btn:focus {
  opacity: 100%;
  cursor: pointer;
}

.file-upload:hover {
  cursor: pointer;
}

.wrapper-wrapper {
  margin: auto;
  width: 95.2%;
  margin-bottom: 10px;
  overflow-x: auto;
  max-height: calc(85vh - 90px);
}

.search-bar {
  font-size: large;
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
}

.print-history {
  margin: auto;
  width: 95%;
  margin-bottom: 0px;
  background-color: silver;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: xx-large;
  outline: 2px solid black;
}

.history-page-btn {
  width: 96%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.history-page-btn:hover {
  cursor: pointer;
}

.btn-group {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
  justify-content: center;

}

.scrollcell {
  padding-left: 5px;
  padding-right: 5px;
  overflow-X: auto;
  overflow-Y: hidden;
  white-space: nowrap;
  display: block;
  height: 22px;
  scrollbar-width: none;
}

.form-data-wrapper {
  margin: auto;
  overflow-x: auto;
  width: 60vw;
  min-width: 470px;
  margin-bottom: 10px;
  height: 190px;
}

.form-data-table {
  border-collapse: collapse;
  width: 100%;
}

.history-wrapper {
  border-collapse: collapse;
  width: 100%;
  min-width: 700px;
}

th,
td {
  text-overflow: hidden;
  overflow: hidden;
  border: 1px solid black;
  padding: 8px;
  font-size: large;
  text-align: left;
  white-space: nowrap;
}

th {
  box-shadow:
    inset 0 0.5px 0 black,
    inset 0 -0.5px 0 black;
}

table {
  border-collapse: separate;
  border-spacing: 0;

}

.form-data-table th {
  background-color: rgb(220, 250, 230);
  position: sticky;
  top: 0;
}

.form-data-row:not(:hover) {
  background-color: rgb(245, 245, 245);
}

.form-data-row:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.history-wrapper th:not(.queue-top th) {
  background-color: #d2e0ff;
  font-size: x-large;
  position: sticky;
  top: 0;
}

.queue-top {
  background-color: rgb(230, 215, 255);
}

.queue-top th {
  font-size: x-large;
}

.history-wrapper td {
  overflow: hidden;
}





.page-wrapper {
  display: flex;
  width: 200vw;
  transition: transform 0.6s ease;
  transform: translateX(0);
}

.page {
  /* transition: transform 0.6s ease; */
  /* transform: translateX(0); */
  flex-shrink: 0;
}

.page-wrapper.slide-left {
  transform: translateX(-100vw);
}




.menu-title {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  width: fit-content;
  outline: 2px solid black;
  border-radius: 5px;
  margin: auto;

}

.enabled,
.disabled {
  transition: opacity 0.2s ease;
  position: relative;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;

}

/* Hide the default checkbox */
.checkbox-container input[type="checkbox"] {
  display: none;
}

.input-icon {
  width: 22px;
  height: 22px;
  margin: auto;
  position: absolute;
  right: 5px;
  top: 5px;
}

.checkbox-container {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  background-color: white;
  margin-right: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  position: relative;
}

.checkbox-container input[type="checkbox"]:checked+.custom-checkbox {
  background-color: #4CAF50;
  /* Active color */
  border-color: #4CAF50;
}

.checkbox-container input[type="checkbox"]:checked+.custom-checkbox::after {
  display: block;
}

/* Change colors of the entire container when the checkbox is active */
.checkbox-container.active {
  background-color: #e0f7e0;
  border-color: #4CAF50;
}

/* Create a tick/checkmark */
.custom-checkbox::after {
  content: '';
  display: none;
  position: absolute;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}