body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  scrollbar-width: none;
}

.main-content {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.App {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url('/images/dudley_overlay.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden !important;
}

html::-webkit-scrollbar {
  display: none;
}


.header {
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  /* background-color: rgba(180, 180, 180, 0.6); */
  /*rgba(118, 152, 255, 0.6);*/
  height: 48px;
  outline: 3px solid rgb(0, 0, 0);
  overflow: hidden;
  white-space: nowrap;
  backdrop-filter: blur(5px);
  z-index: 10;
}

.disable-scroll {
  overflow: hidden;
}

.stl-preview {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 8px;
  padding-top:5px;
  margin:auto;
}

.stl-previews {
  width: 90%;
  border-radius: 8px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  overflow-x: auto;
  overflow-y:hidden;
  column-gap: 10px;
  padding-bottom: 15px;
}

.hidden {
  display: none;
}

.preview-title {
  background-color: transparent;
}


.menuBG {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  height: 100%;
  top: 0px;
}

.menuBG.hidden {
  pointer-events: none;
}

.menuBG.visible {
  opacity: 1;
}

#filamentType {
  font-size: medium;
}

.print-card {
  color:black;
  min-width:300px;
  transition: 0.1s scale ease-in-out;
}

.print-card:hover {
  scale:1.02;
}

.image-4-3 {
  aspect-ratio: 4 / 3;
  overflow:hidden;
  border-radius: 8px;

}

.print-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;     /* scale to fill, cropping as needed */
  object-position: center;
  display: block;        /* remove inline spacing */
}

.printForm {
  margin: 5px 5px 0px 5px;
  flex-direction: column;
  position: relative;
  background-color: rgb(222, 222, 222);
  font-size: x-large;
  padding: 10px 30px 10px;
  border-radius: 10px;
  outline: 2px solid black;
  display: inline-flex;
  justify-content: center;
}



.err-msg,
.msg-msg,
.warn-msg {
  transition: top 0.3s ease-in-out;
  position: fixed;
  right: 5px;

  border-radius: 10px;
  border: 4px solid black;
  font-size: x-large;
  color: black;
  font-weight: bold;
  padding: 10px 40px 10px 10px;
  user-select: none;
}

.msg-exit {
  position: absolute;
  transform: scale(0.3);
  transform-origin: center;
  height: 100px;
  width: 100px;
  top: -29px;
  right: -29px;
  transition: scale 0.2s ease;
}

.msg-exit:hover {
  scale: 1.1;
  cursor: pointer;
}

.err-msg {
  background-color: rgba(247, 169, 169, 0.95);
}

.msg-msg {
  background-color: #c8f1d6f2;
}

.warn-msg {
  background-color: rgba(249, 249, 190, 0.95);

}

.warning-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* printer menu states: null, available, busy, or broken */
.null {
  padding: 2%;
  font-weight: bold;
  font-size: xx-large;
  background-color: rgba(255, 255, 200, 0.7);
  justify-content: center;
  align-items: center;
  margin: 15px 20px 20px;
  margin-left: 20px;
  border-radius: 10px;
  outline: 4px solid black;
}

.printer-header-wrapper {
  height: 42px;
  position: fixed;
  top: 51px;
}

.printer-header {
  margin: auto;
  background-color: silver;
  height: 35px;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 2px 4px 2px 4px;
  outline: 3px solid black;
  overflow: hidden;
  white-space: nowrap;
}

.stat-msg,
.filament-msg {
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  outline: 2px solid black;
}

.notes-msg {
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  outline: 2px solid black;
  margin-top: 20px;
  background-color: rgb(245, 245, 245);
  width: 80%;
  margin-left: 10%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.printer-notes-wrapper {
  width: 75%;
  max-width: 600px;
  min-width: 350px;
  text-align: left;
  margin: auto;
  background-color: white;
  padding: 5px;
  margin-top: 5px;
}

#printerNotesInput {
  width: '600px';
  height: '120px';
  font-size: 'medium';
  font-family: 'Arial, sans-serif';
  max-width: '95%';
  max-height: '200px'
}

select,
option {
  cursor: pointer;
}

.history-row {
  transition: background-color 0.2s ease;
}

.queued {
  background-color: rgb(250, 250, 250);
}

.queued:hover {
  background-color: rgb(255, 255, 255);
}

.active {
  background-color: rgb(255, 255, 240);
}

.active:hover {
  background-color: rgb(255, 255, 245);
}

.completed {
  background-color: rgb(250, 250, 250);
}

.completed:hover {
  background-color: rgb(255, 255, 255);
}

.failed {
  background-color: rgb(255, 245, 245);
}

.failed:hover {
  background-color: rgb(255, 250, 250);
}

.history-edit {
  width: calc(100% - 8px);
  font-size: large;
  margin: 0px;
  padding: 0px;
}

#resizer {
  position: fixed;
  top: 0px;
  width: 5px;
  height: 100vh;
  background: black;
  cursor: ew-resize;
}

#resizer-btn {
  width: 12px;
  height: 40px;
  background-color: lightgray;
  position: fixed;
  top: calc(50% - 20px);
  cursor: pointer;
  border-radius: 5px;
  outline: 1px solid black;
  transition: background-color 0.2s ease;
}

#resizer-btn:hover {
  background-color: lightgreen;
}

.stat-msg {
  width: 80%;
  margin-left: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px 2px rgb(50, 50, 50);
}

.stat-msg b {
  display: inline;
}

.info {
  text-align: left;
  align-items: flex-start;
  white-space: pre-wrap;
  overflow: hidden;
}

.filament-msg {
  background-color: #d2e0ff;
  margin-top: 10px;
  width: 80%;
  margin-left: 10%;
}

.printer-btn {
  font-size: x-large;
  border-radius: 5px;
  padding: 5px;
  outline: 1px solid black;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-flex;
  justify-content: center;
  user-select: none;
  padding-left: 15px;
  padding-right: 15px;
  background-color: silver;
  transition: opacity 0.15s ease;
  opacity: 80%;
}

.history-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  cursor: pointer;
}

.printer-btn:hover,
.menu-btn:hover,
.printer-btn:focus {
  opacity: 100%;
  cursor: pointer;
}

.file-upload:hover {
  cursor: pointer;
}

.wrapper-wrapper {
  margin: auto;
  width: 95.2%;
  margin-bottom: 10px;
  overflow-x: auto;
  max-height: calc(85vh - 90px);
}

.search-bar {
  font-size: large;
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;
}

.print-history {
  margin: auto;
  width: 95%;
  margin-bottom: 0px;
  background-color: silver;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: xx-large;
  outline: 2px solid black;
}

.form-data-wrapper {
  margin: auto;
  overflow-x: auto;
  width: 50vw;
  margin-bottom: 10px;
}

.form-data-table {
  border-collapse: collapse;
  width: 100%;
}

.history-wrapper {
  border-collapse: collapse;
  width: 100%;
  min-width: 700px;
}

th,
td {
  text-overflow: hidden;
  overflow: hidden;
  border: 1px solid black;
  padding: 8px;
  font-size: large;
  text-align: left;
  white-space: nowrap;
}

.form-data-table th {
  background-color: rgb(220, 250, 230);
}

.form-data-row:not(:hover) {
  background-color: rgb(245, 245, 245);
}

.form-data-row:hover {
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.history-wrapper th:not(.queue-top th) {
  background-color: #d2e0ff;
  font-size: x-large;
  position: sticky;
  top: 0;
}

.queue-top {
  background-color: rgb(230, 215, 255);
}

.queue-top th {
  font-size: x-large;
}

.history-wrapper td {
  overflow: hidden;
}


.chart-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  width: calc(100%-60px);
  flex-direction: column;
  justify-content: center;
  margin: 0px 30px;
}


.pie-chart {
  background-color: rgb(245, 245, 245);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  outline: 2px solid black;
  width: 80%;
  max-width:700px;
  margin: auto;
}

.pie {
  padding: 0px 20px;
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 60px;
  row-gap: 20px;
  margin: 20px 0px;
}

canvas {
  width: 100%;
  height: 100%;
}


h2 {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  outline: 2px solid black;
  border-radius: 5px;
  margin: 10px 5px 10px 8px;

}
.menu-title {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  width:fit-content;
  outline: 2px solid black;
  border-radius: 5px;
  margin: auto;

}

.enabled,
.disabled {
  transition: opacity 0.2s ease;
  position: relative;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
  
}

/* Hide the default checkbox */
.checkbox-container input[type="checkbox"] {
  display: none;
}
.input-icon{
  width: 25px;
  height:25px;
  margin:auto;
  position:absolute;
  right:5px;
  top:4px;
}

.checkbox-container {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #f2f2f2;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  background-color: white;
  margin-right: 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  position: relative;
}

.checkbox-container input[type="checkbox"]:checked+.custom-checkbox {
  background-color: #4CAF50;
  /* Active color */
  border-color: #4CAF50;
}

.checkbox-container input[type="checkbox"]:checked+.custom-checkbox::after {
  display: block;
}

/* Change colors of the entire container when the checkbox is active */
.checkbox-container.active {
  background-color: #e0f7e0;
  border-color: #4CAF50;
}

/* Create a tick/checkmark */
.custom-checkbox::after {
  content: '';
  display: none;
  position: absolute;
  top: 1px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}