

.chart-container {
    text-align: center;
    flex-direction: column;
    max-width: 100%;
    margin: 5px 30px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0px 0px;
    position: relative;

}

.chart-header-text {
    font-size: large;
    width: fit-content;
    user-select: none;
    font-weight: bold;
}

.chart-header-container {
    background-color: rgba(220, 220, 220, 1);
    width: 100%;
    padding: 8px 0px;
    outline: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    flex: 0 0 auto;
}

.chart-header-arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transition: transform 0.1s ease;
    margin: 0px 15px;
}

.chart-header-arrow.open {
    transform: rotate(45deg);
}

.chart-header-arrow.closed {
    transform: rotate(225deg);
}

.chart-body {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    flex: 1 1 auto;
    min-height: 0;
    height:400px;
}
.chart-body.pad-large {
    padding-bottom:45px;
}
.chart-body.pad-med {
    padding-bottom:10px;
}
.chart-body.no-pad {
    padding-bottom:0px;
}

.chart-body.line {
    display: block;
}

.chart-body.pie {
    display: flex;
    justify-content: center;
    max-height:400px;
    height:250px;
    max-width:500px;
    align-items: center;
    margin:auto;
    padding-top:10px;
    
}














.group-title {
    font-weight: bold;
    font-size:x-large;
    margin-top:50px;

}



.title-box {
    width: calc(100%-80px);
    margin: 0px 20px 30px 20px;
    background-color: rgb(255, 255, 255);
    padding: 8px 20px;
    outline: 2px solid black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    cursor: pointer;
    user-select: none;
}

.title-container {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-content: center;

}

.title-text {
    margin: 0;
    flex: 1;
    margin: 0px 10px 0px 10px;

}

.slide-arrow {
    width: 10px;
    height: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    transition: transform 0.25s ease;
    transform: translateX(0px);
    margin: 0px 0px 0px 0px;
}

.slide-arrow.right {
    transform: rotate(45deg);
}

.title-box:hover .slide-arrow.right {
    transform: translateX(6px) rotate(45deg);
}

.slide-arrow.left {
    transform: rotate(-135deg);
}

.title-box:hover .slide-arrow.left {
    transform: translateX(-6px) rotate(-135deg);
}

.title-box:hover {
    background-color: rgba(255, 255, 255, 0.9);
    ;
}