canvas {
    width: 100%;
    height: 100%;
}


.chart-container {
    text-align: center;
    flex-direction: column;
    max-height: 400px;
    max-width: 100%;
    margin: 5px 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 0px 0px;
    position: relative;
}

.chart-header-text {
    font-size: large;
    width: fit-content;
    margin: 0px 10px 0px 10px;
    user-select: none;
    font-weight: bold;
}

.chart-header-container {
    background-color: rgba(220, 220, 220, 1);
    width: 100%;
    padding: 8px 0px;
    outline: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    top:0;
    left:0;
    
}

.chart-header-arrow {
    width:10px;
    height:10px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transition: transform 0.1s ease;
}
.chart-header-arrow.open {
    transform: rotate(45deg);
}
.chart-header-arrow.closed {
    transform: rotate(225deg);
}
.chart-body {
    max-width:100%;
    max-height:100%;
    margin:auto;
}
.chart-body.line {
    width:80%;
    display: block;
}
.chart-body.pie {
    display:flex;
    justify-content: center;

}