
.chart-wrapper {
  display: flex;
  align-items: center;
  text-align: center;
  width: calc(100%-60px);
  flex-direction: column;
  justify-content: center;
  margin: 0px 30px;
}


.pie-chart {
  background-color: rgb(245, 245, 245);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  outline: 2px solid black;
  width: 80%;
  max-width: 700px;
  margin: auto;
}

.pie {
  padding: 0px 20px;
  width: calc(100% - 40px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  column-gap: 60px;
  row-gap: 20px;
  margin: 20px 0px;
}

canvas {
  width: 100%;
  height: 100%;
}