.settings {
  background-color: white;
  height: calc(95vh - 50px);
  border-radius: 5px;
  border: 2px solid rgb(118, 152, 255);
  margin: calc(50px + 2vh) auto 0px auto;
  position:relative;
  min-width:450px;
  max-width:min(1100px, 95%);
}

.table-data-row:not(:hover) {
  background-color: rgb(250, 250, 250);
}

.table-data-row:hover {
  background-color: rgb(255, 255, 255);
}


/* Displays the characters as bullets */
.customMasked {
  -webkit-text-security: disc; 
}
.content-wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.settings-header {
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  width: 99.6%;
  height: 45px;
  background-color: rgb(220, 220, 220);
  overflow: hidden;
  white-space: nowrap;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  padding-top:5px;
  padding-bottom:0px;
}

.settings-exit {
  width:40px;
  height:40px;
  position:absolute;
  right:10px;
  top:5px;
  transition: opacity 0.1s ease;
}
.settings-exit:hover {
  cursor: pointer;
  opacity: 0.6;
}

.settings-wrapper {
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 85%;
  margin: 0 auto;
  padding: 10px 10px 20px 10px;
  overflow-x: auto;
  margin-bottom: 30px;
  box-shadow: 0 0 3px 2px rgb(175, 175, 175);
  overflow:hidden;
}

.input-wrapper {
  display: inline-flex;
  align-items:center;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: large;
  user-select: none;
}

.input-label {
  width: 180px;
  text-align: right;
}

.generic-icon{
  width: 35px;
  height:30px;
  margin:auto;
}
.centeredIcon{
  display:flex;
  align-items: center;
  justify-content: center;
}

.admin-settings-label {
  font-size: 'large';
  justify-content: center;
  align-items: left;
  font-weight: bold;
  margin-left:15px;
}

.visibility-icon {
  width: 25px;
  height:25px;
  margin:auto;
  margin-right:10px;
  cursor: pointer;
  opacity: 0.7;
  transition: scale 0.3s ease, opacity 0.3s ease;
}
.visibility-icon:hover {
  opacity: 1;
  scale:  1.05;
}

.hotkeys-wrapper-wrapper {
  margin: auto;
  width: 95.2%;
  max-height: 70vh;
  margin-bottom: 30px;
  overflow-x: auto;
}

.hotkeys-wrapper {
  border-collapse: collapse;
  width: 100%;
}

.hotkeys-wrapper th,
.hotkeys-wrapper td {
  text-overflow: hidden;
  overflow: hidden;
  border: 1px solid black;
  /* Add border around each cell */
  padding: 8px;
  font-size: large;
  text-align: left;
  white-space: nowrap;
  margin: 0px;
}

.hotkeys-wrapper th {
  background-color: #d2e0ff;
  font-size: large;
  position: sticky;
  top: 0;
}

.hotkeys-wrapper td {
  overflow: hidden;
}


.qr-wrapper {
  max-width: 350px;
  margin: auto;
  margin-bottom: 30px;
  outline: 4px solid black;
  border-radius: 8px;

}
.qr-wrapper h1 {
  color: white;
  background-color: black;
  margin-bottom: 0px;
  padding-bottom: 4px;
}

.qr-wrapper img {
  width: 100%;
}

.arrow-btn{
    outline: 1px solid black;
}