.homeBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    transition: background-color 0.2s ease;
    color: #fff;
    border: 1px solid #000000dd;
    padding: 4px 4px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgba(0,0,0,0.1);
    border-radius:5px;
}

.homeBtn:hover {
    background-color: rgba(0,0,0,0.3);
}

.error{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    color: #ffffffff;
    padding: 15px;
    text-align: center;
    white-space: pre-wrap;
    height:fit-content;
    top: 50%;
    left: 50%;
    width:75%;
    transform: translate(-50%, -50%);
}

.loading {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    color: #ffffffff;
    padding: 10px;
    text-align: center;
    white-space: pre-wrap;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:fit-content;
    width:75%;
    border-radius: 2px;
}

.progressBar {
    display:block;
    width: 75%;
    height:20px;
    border: 2px solid #000000;
    margin-top: 8px;
}